# Check Unique values in each column

In [6]:
import pandas as pd

In [7]:
Score = pd.read_csv("D:\Data for Preprocessing\scores.csv")

In [25]:
Score

,date,School Name,Borough,Student Enrollment,Percent Tested,SAT Section,Score,Unnamed: 7
0,01-01-2023,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Math,459,NaN
1,02-01-2023,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Reading,453,NaN
2,03-01-2023,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Writing,447,NaN
3,04-01-2023,Abraham Lincoln High School,Brooklyn,2341,54.90%,Math,441,NaN
4,05-01-2023,Abraham Lincoln High School,Brooklyn,2341,54.90%,Reading,422,NaN
...,...,...,...,...,...,...,...,...
1120,25-01-2026,Young Women's Leadership School in Astoria,Queens,572,100.00%,Reading,464,NaN
1121,26-01-2026,Young Women's Leadership School in Astoria,Queens,572,100.00%,Writing,477,NaN
1122,27-01-2026,Young Women's Leadership School in Queens,Queens,557,90.40%,Math,415,NaN
1123,28-01-2026,Young Women's Leadership School in Queens,Queens,557,90.40%,Reading,420,NaN
1124,29-01-2026,Young Women's Leadership School in Queens,Queens,557,90.40%,Writing,433,NaN

In [26]:
Score.select_dtypes(include= 'number')

      Student Enrollment  Score  Unnamed: 7
0                   1354    459         NaN
1                   1354    453         NaN
2                   1354    447         NaN
3                   2341    441         NaN
4                   2341    422         NaN
...                  ...    ...         ...
1120                 572    464         NaN
1121                 572    477         NaN
1122                 557    415         NaN
1123                 557    420         NaN
1124                 557    433         NaN

[1125 rows x 3 columns]

In [37]:

for col in Score.columns:
    Unique_count = Score[col].nunique()
    total_count = len(Score)
    perc_unique = (Unique_count/total_count)*100

    print(f'Column: {col}, Unique: {Unique_count}, Percentage Unique: {perc_unique:.2f}%')

Column: date, Unique: 1125, Percentage Unique: 100.00%
Column: School Name, Unique: 375, Percentage Unique: 33.33%
Column: Borough, Unique: 5, Percentage Unique: 0.44%
Column: Student Enrollment, Unique: 285, Percentage Unique: 25.33%
Column: Percent Tested, Unique: 283, Percentage Unique: 25.16%
Column: SAT Section, Unique: 3, Percentage Unique: 0.27%
Column: Score, Unique: 266, Percentage Unique: 23.64%
Column: Unnamed: 7, Unique: 0, Percentage Unique: 0.00%

In [28]:

# Calculate and print the percentage of unique values for numeric columns
for col in Score.columns:
    if pd.api.types.is_numeric_dtype(Score[col]):
        Unique_count = Score[col].nunique()
        total_count = len(Score)
        perc_unique = (Unique_count / total_count) * 100

        print(f'Column: {col}, Unique: {Unique_count}, Percentage Unique: {perc_unique:.2f}%')

Column: Student Enrollment, Unique: 285, Percentage Unique: 25.33%
Column: Score, Unique: 266, Percentage Unique: 23.64%
Column: Unnamed: 7, Unique: 0, Percentage Unique: 0.00%

In [32]:

# Calculate and print the percentage of unique values for numeric columns
for col in Score.columns:
    if Score[col].dtype in ['int64', 'float64']:
        Unique_count = Score[col].nunique()
        total_count = len(Score)
        perc_unique = (Unique_count / total_count) * 100

        print(f'Column: {col}, Unique: {Unique_count}, Percentage Unique: {perc_unique:.2f}%')

Column: Student Enrollment, Unique: 285, Percentage Unique: 25.33%
Column: Score, Unique: 266, Percentage Unique: 23.64%
Column: Unnamed: 7, Unique: 0, Percentage Unique: 0.00%

In [26]:
Score.nunique()

date                  1125
School Name            375
Borough                  5
Student Enrollment     285
Percent Tested         283
SAT Section              3
Score                  266
Unnamed: 7               0
dtype: int64

In [11]:
counts = Score.nunique()

In [20]:
to_del = [ i for i,v in enumerate(counts) if (float(v)/Score.shape[0]*100)<1]

In [13]:
to_del

[2, 5, 7]

In [24]:
[v for i,v in enumerate(counts)]

[1125, 375, 5, 285, 283, 3, 266, 0]

In [25]:
[i for i,v in enumerate(counts)]

[0, 1, 2, 3, 4, 5, 6, 7]

In [36]:
sel_col = Score.columns[[2,5,7]]

In [38]:
sel_col

Index(['Borough', 'SAT Section', 'Unnamed: 7'], dtype='object')

In [37]:
Score.drop(sel_col, axis =1)

,date,School Name,Student Enrollment,Percent Tested,Score
0,01-01-2023,A. Philip Randolph Campus High School,1354,74.00%,459
1,02-01-2023,A. Philip Randolph Campus High School,1354,74.00%,453
2,03-01-2023,A. Philip Randolph Campus High School,1354,74.00%,447
3,04-01-2023,Abraham Lincoln High School,2341,54.90%,441
4,05-01-2023,Abraham Lincoln High School,2341,54.90%,422
...,...,...,...,...,...
1120,25-01-2026,Young Women's Leadership School in Astoria,572,100.00%,464
1121,26-01-2026,Young Women's Leadership School in Astoria,572,100.00%,477
1122,27-01-2026,Young Women's Leadership School in Queens,557,90.40%,415
1123,28-01-2026,Young Women's Leadership School in Queens,557,90.40%,420
1124,29-01-2026,Young Women's Leadership School in Queens,557,90.40%,433

In [40]:
from sklearn.feature_selection import VarianceThreshold

In [45]:
threshold_value = 0.1  # You can adjust this value as needed

# Initialize VarianceThreshold
transform = VarianceThreshold(threshold=threshold_value)

numeric_columns = Score.select_dtypes(include= ['int64', 'float64'])
# Fit and transform the input data
X_sel = transform.fit_transform(numeric_columns)

# Get the retained columns
selected_columns = Score.columns[transform.get_support()]

print(f"Original number of columns: {numeric_columns.shape[1]}")
print(f"Number of retained columns: {len(selected_columns)}")
print(f"Retained columns: {selected_columns}")
print(f"Variance threshold used: {threshold_value}")

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\feature_selection\_variance_threshold.py:78: RuntimeWarning: Degrees of freedom <= 0 for slice.
  self.variances_ = np.nanvar(X, axis=0)

IndexError: boolean index did not match indexed array along dimension 0; dimension is 8 but corresponding boolean dimension is 3

In [46]:
# Select only numeric columns (int and float)
numeric_columns = Score.select_dtypes(include=['int64', 'float64'])

# Set your desired threshold
threshold_value = 0.1  # You can adjust this value as needed

# Initialize VarianceThreshold
transform = VarianceThreshold(threshold=threshold_value)

# Fit and transform the input data
X_sel = transform.fit_transform(numeric_columns)

# Get the retained columns
selected_columns_mask = transform.get_support()
selected_columns = numeric_columns.columns[selected_columns_mask]

print(f"Original number of columns: {numeric_columns.shape[1]}")
print(f"Number of retained columns: {len(selected_columns)}")
print(f"Retained columns: {selected_columns}")
print(f"Variance threshold used: {threshold_value}")

Original number of columns: 3
Number of retained columns: 2
Retained columns: Index(['Student Enrollment', 'Score'], dtype='object')
Variance threshold used: 0.1

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\feature_selection\_variance_threshold.py:78: RuntimeWarning: Degrees of freedom <= 0 for slice.
  self.variances_ = np.nanvar(X, axis=0)

In [50]:
numeric_columns

      Student Enrollment  Score  Unnamed: 7
0                   1354    459         NaN
1                   1354    453         NaN
2                   1354    447         NaN
3                   2341    441         NaN
4                   2341    422         NaN
...                  ...    ...         ...
1120                 572    464         NaN
1121                 572    477         NaN
1122                 557    415         NaN
1123                 557    420         NaN
1124                 557    433         NaN

[1125 rows x 3 columns]

In [49]:
Score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1125 non-null   object
 1   School Name         1125 non-null   object
 2   Borough             1125 non-null   object
 3   Student Enrollment  1125 non-null   int64
 4   Percent Tested      1125 non-null   object
 5   SAT Section         1125 non-null   object
 6   Score               1125 non-null   int64
 7   Unnamed: 7          0 non-null      float64
dtypes: float64(1), int64(2), object(5)
memory usage: 70.4+ KB