In [2]:
import pandas as pd

In [3]:
Kidney_disease = pd.read_csv("D:\Data for Preprocessing\kidney_disease.csv")

In [4]:
Kidney_disease.head()

,age,Blood Pressure,Specific Gravity,Albumin,Sugar,Red Blood Cells,Pus Cell,Pus Cell Clumps,Bacteria,Blood Glucose random,...,Packed Cell Volume,White Blood Cell Count,Red blood cell count,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edma,Anemia,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [5]:
Kidney_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      391 non-null    float64
 1   Blood Pressure           388 non-null    float64
 2   Specific Gravity         353 non-null    float64
 3   Albumin                  354 non-null    float64
 4   Sugar                    351 non-null    float64
 5   Red Blood Cells          248 non-null    object
 6   Pus Cell                 335 non-null    object
 7    Pus Cell Clumps         396 non-null    object
 8   Bacteria                 396 non-null    object
 9   Blood Glucose random     356 non-null    float64
 10  Blood Urea               381 non-null    float64
 11  Serum Creatinine         383 non-null    float64
 12  Sodium                   313 non-null    float64
 13  Potassium                312 non-null    float64
 14  Haemoglobin              348 non-null    float64
 15  Packed Cell Volume       330 non-null    object
 16  White Blood Cell Count   295 non-null    object
 17  Red blood cell count     270 non-null    object
 18  Hypertension             398 non-null    object
 19  Diabetes Mellitus        398 non-null    object
 20  Coronary Artery Disease  398 non-null    object
 21  Appetite                 399 non-null    object
 22  Pedal Edma               399 non-null    object
 23  Anemia                   399 non-null    object
 24  classification           400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.2+ KB

In [6]:
Kidney_disease['Packed Cell Volume'] = pd.to_numeric(Kidney_disease['Packed Cell Volume'], errors='coerce')
Kidney_disease['White Blood Cell Count'] = pd.to_numeric(Kidney_disease['White Blood Cell Count'], errors='coerce')
Kidney_disease['Red blood cell count'] = pd.to_numeric(Kidney_disease['Red blood cell count'], errors='coerce')

# Now converting to float64
Kidney_disease = Kidney_disease.astype({'Packed Cell Volume': 'float64', 'White Blood Cell Count': 'float64', 'Red blood cell count': 'float64'})

In [7]:
Kidney_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      391 non-null    float64
 1   Blood Pressure           388 non-null    float64
 2   Specific Gravity         353 non-null    float64
 3   Albumin                  354 non-null    float64
 4   Sugar                    351 non-null    float64
 5   Red Blood Cells          248 non-null    object
 6   Pus Cell                 335 non-null    object
 7    Pus Cell Clumps         396 non-null    object
 8   Bacteria                 396 non-null    object
 9   Blood Glucose random     356 non-null    float64
 10  Blood Urea               381 non-null    float64
 11  Serum Creatinine         383 non-null    float64
 12  Sodium                   313 non-null    float64
 13  Potassium                312 non-null    float64
 14  Haemoglobin              348 non-null    float64
 15  Packed Cell Volume       329 non-null    float64
 16  White Blood Cell Count   294 non-null    float64
 17  Red blood cell count     269 non-null    float64
 18  Hypertension             398 non-null    object
 19  Diabetes Mellitus        398 non-null    object
 20  Coronary Artery Disease  398 non-null    object
 21  Appetite                 399 non-null    object
 22  Pedal Edma               399 non-null    object
 23  Anemia                   399 non-null    object
 24  classification           400 non-null    object
dtypes: float64(14), object(11)
memory usage: 78.2+ KB

In [8]:
Categorical_data = Kidney_disease.select_dtypes(include = 'object')

In [9]:
Categorical_data

,Red Blood Cells,Pus Cell,Pus Cell Clumps,Bacteria,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edma,Anemia,classification
0,NaN,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,NaN,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [10]:
Numerical_data = Kidney_disease.select_dtypes(include = 'float64')

In [11]:
Numerical_data

,age,Blood Pressure,Specific Gravity,Albumin,Sugar,Blood Glucose random,Blood Urea,Serum Creatinine,Sodium,Potassium,Haemoglobin,Packed Cell Volume,White Blood Cell Count,Red blood cell count
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,NaN,15.4,44.0,7800.0,5.2
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,NaN,11.3,38.0,6000.0,NaN
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,NaN,9.6,31.0,7500.0,NaN
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,NaN,11.6,35.0,7300.0,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.5,150.0,4.9,15.7,47.0,6700.0,4.9
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.2,141.0,3.5,16.5,54.0,7800.0,6.2
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.6,137.0,4.4,15.8,49.0,6600.0,5.4
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.0,135.0,4.9,14.2,51.0,7200.0,5.9
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.1,141.0,3.5,15.8,53.0,6800.0,6.1

In [12]:
Numerical_data.isnull().sum()

age                         9
Blood Pressure             12
Specific Gravity           47
Albumin                    46
Sugar                      49
Blood Glucose random       44
Blood Urea                 19
Serum Creatinine           17
Sodium                     87
Potassium                  88
Haemoglobin                52
Packed Cell Volume         71
White Blood Cell Count    106
Red blood cell count      131
dtype: int64

In [13]:
from sklearn.impute import SimpleImputer

In [14]:
# Imputation with Mean Value
imputer = SimpleImputer(strategy = 'mean')  ### instead of mean, we can use median, mode and constant value

In [15]:
imputer.fit(Numerical_data)

SimpleImputer()

In [16]:
Imputed_Data_mean = pd.DataFrame(imputer.transform(Numerical_data))

In [17]:
Imputed_Data_mean.columns = Numerical_data.columns

In [80]:
# Impute Numerical value with mean 
Imputed_Data_mean

,age,Blood Pressure,Specific Gravity,Albumin,Sugar,Blood Glucose random,Blood Urea,Serum Creatinine,Sodium,Potassium,Haemoglobin,Packed Cell Volume,White Blood Cell Count,Red blood cell count
0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,15.4,44.0,7800.0,5.200000
1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,11.3,38.0,6000.0,4.707435
2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,9.6,31.0,7500.0,4.707435
3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,11.2,32.0,6700.0,3.900000
4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,11.6,35.0,7300.0,4.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.900000,15.7,47.0,6700.0,4.900000
396,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.500000,16.5,54.0,7800.0,6.200000
397,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.400000,15.8,49.0,6600.0,5.400000
398,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.900000,14.2,51.0,7200.0,5.900000
399,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.500000,15.8,53.0,6800.0,6.100000

In [61]:
# Others way to fill nan values
Categorical_data.fillna(method = 'bfill') #ffill

,Red Blood Cells,Pus Cell,Pus Cell Clumps,Bacteria,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edma,Anemia,classification
0,normal,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [59]:
Categorical_data.isnull().sum()

Red Blood Cells            152
Pus Cell                    65
 Pus Cell Clumps             4
Bacteria                     4
Hypertension                 2
Diabetes Mellitus            2
Coronary Artery Disease      2
Appetite                     1
Pedal Edma                   1
Anemia                       1
classification               0
dtype: int64

In [66]:
imputer_cat = SimpleImputer(strategy = 'most_frequent')

In [67]:
imputer_cat.fit(Categorical_data)

SimpleImputer(strategy='most_frequent')

In [69]:
Imputed_Data_mode = pd.DataFrame(imputer_cat.transform(Categorical_data))

In [71]:
Imputed_Data_mode.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [72]:
Imputed_Data_mode.columns = Categorical_data.columns

In [79]:
# Impute Categorical value with most frequent one
Imputed_Data_mode

,Red Blood Cells,Pus Cell,Pus Cell Clumps,Bacteria,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edma,Anemia,classification
0,normal,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [74]:
Original_df = pd.merge(Imputed_Data_mean, Imputed_Data_mode, how = 'outer', left_index = True, right_index = True)

In [78]:
Original_df

,age,Blood Pressure,Specific Gravity,Albumin,Sugar,Blood Glucose random,Blood Urea,Serum Creatinine,Sodium,Potassium,...,Pus Cell,Pus Cell Clumps,Bacteria,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edma,Anemia,classification
0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,...,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,...,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,...,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.900000,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.500000,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.400000,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.900000,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.500000,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd