### Section 8 - Group by and Aggregation

In [27]:
import pandas as pd
import numpy as np

### Lecture - 194 - Section Introduction

In [28]:
games = pd.read_csv("D:\Data for Preprocessing\games_sales.csv")

### Lecture - 195 & 196 - Simple Aggregations Review

In [29]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          3143 non-null   object
 1   Platform      3143 non-null   object
 2   Year          3088 non-null   float64
 3   Genre         3143 non-null   object
 4   Publisher     3136 non-null   object
 5   NA_Sales      3143 non-null   float64
 6   EU_Sales      3143 non-null   float64
 7   JP_Sales      3143 non-null   float64
 8   Other_Sales   3143 non-null   float64
 9   Global_Sales  3143 non-null   float64
dtypes: float64(6), object(4)
memory usage: 245.7+ KB

In [30]:
games.Year= games.Year.astype('datetime64[as]')

In [31]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [32]:
games.select_dtypes(np.float64).sum()

NA_Sales        1173.30
EU_Sales         793.64
JP_Sales         107.06
Other_Sales      282.75
Global_Sales    2356.96
dtype: float64

In [33]:
games.select_dtypes(include='float').sum()

NA_Sales        1173.30
EU_Sales         793.64
JP_Sales         107.06
Other_Sales      282.75
Global_Sales    2356.96
dtype: float64

In [34]:
games.select_dtypes(include=['float', 'datetime64'])

           Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0    1970-01-01     14.97      4.94      0.24         1.67         21.82
1    1970-01-01      7.01      9.27      0.97         4.14         21.40
2    1970-01-01      9.63      5.31      0.06         1.38         16.38
3    1970-01-01      9.03      4.28      0.13         1.32         14.76
4    1970-01-01      9.67      3.73      0.11         1.13         14.64
...         ...       ...       ...       ...          ...           ...
3138 1970-01-01      0.00      0.01      0.00         0.00          0.01
3139 1970-01-01      0.01      0.00      0.00         0.00          0.01
3140 1970-01-01      0.01      0.00      0.00         0.00          0.01
3141 1970-01-01      0.00      0.01      0.00         0.00          0.01
3142 1970-01-01      0.00      0.01      0.00         0.00          0.01

[3143 rows x 6 columns]

### Lecture - 197 - conditional Aggregates

In [35]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [36]:
games.Platform.unique()

array(['X360', 'PS3', 'PS4', 'XOne'], dtype=object)

In [37]:
games.loc[(games.Platform == 'X360') | (games.Platform == 'PS3')].sum(numeric_only=True)

NA_Sales         993.31
EU_Sales         624.29
JP_Sales          92.42
Other_Sales      227.47
Global_Sales    1937.80
dtype: float64

### Lecture - 199 - Groupby

In [38]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [39]:
games.groupby('Platform').sum()

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3         392.26    343.71     79.99       141.93        957.84
PS4          96.80    123.70     14.30        43.36        278.10
X360        601.05    280.58     12.43        85.54        979.96
XOne         83.19     45.65      0.34        11.92        141.06

### Lecture - 201 - Customizing Index To Group Mapping --- Imp

In [40]:
Platform_Names = {
    'PS3' : 'PlayStation',
    'PS4' : 'PlayStation',
    'X360' : 'XBox',
    'XOne': 'XBox'
}

In [41]:
Platform_Names

{'PS3': 'PlayStation', 'PS4': 'PlayStation', 'X360': 'XBox', 'XOne': 'XBox'}

In [42]:
# Only numerical Data
Sales_Data = games.loc[:,['Platform', 'NA_Sales','EU_Sales', 'JP_Sales',	'Other_Sales']]

In [43]:
Sales_Data.set_index('Platform')

          NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
X360         14.97      4.94      0.24         1.67
PS3           7.01      9.27      0.97         4.14
X360          9.63      5.31      0.06         1.38
X360          9.03      4.28      0.13         1.32
X360          9.67      3.73      0.11         1.13
...            ...       ...       ...          ...
X360          0.00      0.01      0.00         0.00
XOne          0.01      0.00      0.00         0.00
XOne          0.01      0.00      0.00         0.00
PS4           0.00      0.01      0.00         0.00
XOne          0.00      0.01      0.00         0.00

[3143 rows x 4 columns]

In [44]:
Sales_Data.set_index('Platform').groupby(Platform_Names).sum()

             NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
PlayStation    489.06    467.41     94.29       185.29
XBox           684.24    326.23     12.77        97.46

### Lecture - 203 & 204 , Problems and Solutions

In [45]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [46]:
games.groupby('Platform')['NA_Sales'].sum().sort_values(ascending=False).index

Index(['X360', 'PS3', 'PS4', 'XOne'], dtype='object', name='Platform')

In [47]:
games.groupby('Platform')['NA_Sales'].sum().sort_values()

Platform
XOne     83.19
PS4      96.80
PS3     392.26
X360    601.05
Name: NA_Sales, dtype: float64

### Lecture - 206 - Handpicking Subgroups

In [48]:
# Similar to "Having" Clause in SQL
games.groupby('Platform').get_group('PS3')

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
6,Call of Duty: Black Ops II,PS3,1970-01-01,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
9,Call of Duty: Modern Warfare 3,PS3,1970-01-01,Shooter,Activision,5.54,5.82,0.49,1.62,13.46
10,Call of Duty: Black Ops,PS3,1970-01-01,Shooter,Activision,5.98,4.44,0.48,1.83,12.73
14,Gran Turismo 5,PS3,1970-01-01,Racing,Sony Computer Entertainment,2.96,4.88,0.81,2.12,10.77
...,...,...,...,...,...,...,...,...,...,...
3124,Hyperdimension Neptunia mk2,PS3,1970-01-01,Action,Nippon Ichi Software,0.00,0.01,0.00,0.00,0.01
3125,Shin Koihime Musou: Otome Taisen * Sangokushi ...,PS3,1970-01-01,Adventure,Views,0.00,0.00,0.01,0.00,0.01
3129,Muv-Luv Alternative,PS3,1970-01-01,Simulation,5pb,0.00,0.00,0.01,0.00,0.01
3132,Akatsuki no Goei Trinity,PS3,1970-01-01,Adventure,5pb,0.00,0.00,0.01,0.00,0.01
3136,Battle Fantasia,PS3,1970-01-01,Fighting,505 Games,0.00,0.00,0.01,0.00,0.01

### Lecture - 207 - MutliIndex Grouping

In [49]:
games.groupby(['Genre','Platform'])['Global_Sales'].sum()

Genre         Platform
Action        PS3         307.88
              PS4          87.06
              X360        242.67
              XOne         33.79
Adventure     PS3          22.90
              PS4           4.70
              X360         15.23
              XOne          2.51
Fighting      PS3          51.70
              PS4           8.04
              X360         37.64
              XOne          2.31
Misc          PS3          47.85
              PS4           7.40
              X360         91.96
              XOne          6.86
Platform      PS3          30.33
              PS4           7.01
              X360         11.39
              XOne          0.81
Puzzle        PS3           0.60
              PS4           0.02
              X360          0.85
Racing        PS3          73.95
              PS4          11.53
              X360         65.99
              XOne          8.80
Role-Playing  PS3          75.30
              PS4          25.77
              X360         71.98
              XOne          9.48
Shooter       PS3         196.04
              PS4          75.32
              X360        278.55
              XOne         51.61
Simulation    PS3          10.79
              PS4           0.77
              X360         14.45
              XOne          0.54
Sports        PS3         135.56
              PS4          50.07
              X360        139.12
              XOne         23.97
Strategy      PS3           4.94
              PS4           0.41
              X360         10.13
              XOne          0.38
Name: Global_Sales, dtype: float64

In [50]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

### lecture - 208 - Fine-Tuned Aggregates

In [51]:
# group by Does not work with apply 
games.groupby(['Genre','Platform'])['Global_Sales'].apply(['sum', 'count'])

TypeError: unhashable type: 'list'

In [ ]:
games.groupby(['Genre','Platform'])['Global_Sales'].agg({'Global_Sales':['sum', 'count', 'std']}).sort_values(by=('Global_Sales', 'sum'), ascending=False)

SpecificationError: nested renamer is not supported

In [ ]:
games.groupby(['Genre', 'Platform']).agg({'Global_Sales': ['sum', 'count', 'std']}).sort_values(by=('Global_Sales', 'sum'), ascending=False)

                      Global_Sales
                               sum count       std
Genre        Platform
Action       PS3            307.88   380  1.660116
Shooter      X360           278.55   203  2.685196
Action       X360           242.67   324  1.406772
Shooter      PS3            196.04   156  2.308557
Sports       X360           139.12   220  0.890439
             PS3            135.56   213  0.999043
Misc         X360            91.96   126  2.165301
Action       PS4             87.06   122  1.452652
Shooter      PS4             75.32    34  2.965431
Role-Playing PS3             75.30   119  1.004425
Racing       PS3             73.95    92  1.376301
Role-Playing X360            71.98    76  1.533177
Racing       X360            65.99   105  0.922865
Fighting     PS3             51.70    76  0.738275
Shooter      XOne            51.61    33  1.723269
Sports       PS4             50.07    43  1.805890
Misc         PS3             47.85   124  0.631139
Fighting     X360            37.64    65  0.626066
Action       XOne            33.79    68  0.823085
Platform     PS3             30.33    37  1.136235
Role-Playing PS4             25.77    47  1.180133
Sports       XOne            23.97    36  0.819067
Adventure    PS3             22.90    74  0.780451
             X360            15.23    47  0.887242
Simulation   X360            14.45    40  0.487575
Racing       PS4             11.53    17  0.804528
Platform     X360            11.39    24  0.441253
Simulation   PS3             10.79    31  0.444593
Strategy     X360            10.13    28  0.498078
Role-Playing XOne             9.48    13  1.099822
Racing       XOne             8.80    19  0.634053
Fighting     PS4              8.04    17  0.683152
Misc         PS4              7.40    15  1.005575
Platform     PS4              7.01    11  0.671671
Misc         XOne             6.86    15  0.574076
Strategy     PS3              4.94    24  0.223994
Adventure    PS4              4.70    19  0.378694
             XOne             2.51    12  0.372741
Fighting     XOne             2.31     7  0.462313
Puzzle       X360             0.85     7  0.095643
Platform     XOne             0.81     4  0.153052
Simulation   PS4              0.77     5  0.160094
Puzzle       PS3              0.60     3  0.196977
Simulation   XOne             0.54     3  0.165227
Strategy     PS4              0.41     5  0.067231
             XOne             0.38     3  0.094516
Puzzle       PS4              0.02     1       NaN

In [ ]:
games.agg(['sum', 'count'], axis=0).select_dtypes(include = np.number)

,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
sum,NaN,NaN,1173.3,793.64,107.06,282.75,2356.96
count,3088.0,3136.0,3143.0,3143.00,3143.00,3143.00,3143.00

In [ ]:
# Apply with different calculation like Sum, Count, Std. does not works on group method.
games.apply(['sum', 'count'], axis=0).select_dtypes(include = np.number)

,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
sum,NaN,NaN,1173.3,793.64,107.06,282.75,2356.96
count,3088.0,3136.0,3143.0,3143.00,3143.00,3143.00,3143.00

### Lecture - 209 - Name Aggregation

In [ ]:
games.groupby(['Genre', 'Platform']).agg({'Global_Sales': ['sum', 'count']})\
     .rename({'sum': 'Total_Revenue', 'count': 'Number_of_Games'}, axis=1)

                       Global_Sales
                      Total_Revenue Number_of_Games
Genre        Platform
Action       PS3             307.88             380
             PS4              87.06             122
             X360            242.67             324
             XOne             33.79              68
Adventure    PS3              22.90              74
             PS4               4.70              19
             X360             15.23              47
             XOne              2.51              12
Fighting     PS3              51.70              76
             PS4               8.04              17
             X360             37.64              65
             XOne              2.31               7
Misc         PS3              47.85             124
             PS4               7.40              15
             X360             91.96             126
             XOne              6.86              15
Platform     PS3              30.33              37
             PS4               7.01              11
             X360             11.39              24
             XOne              0.81               4
Puzzle       PS3               0.60               3
             PS4               0.02               1
             X360              0.85               7
Racing       PS3              73.95              92
             PS4              11.53              17
             X360             65.99             105
             XOne              8.80              19
Role-Playing PS3              75.30             119
             PS4              25.77              47
             X360             71.98              76
             XOne              9.48              13
Shooter      PS3             196.04             156
             PS4              75.32              34
             X360            278.55             203
             XOne             51.61              33
Simulation   PS3              10.79              31
             PS4               0.77               5
             X360             14.45              40
             XOne              0.54               3
Sports       PS3             135.56             213
             PS4              50.07              43
             X360            139.12             220
             XOne             23.97              36
Strategy     PS3               4.94              24
             PS4               0.41               5
             X360             10.13              28
             XOne              0.38               3

In [ ]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [ ]:
games.

In [ ]:
games.groupby(['Genre', 'Platform']).agg({'Global_Sales': 'sum', 'EU_Sales': 'mean'})\
     .rename({'Global_Sales': 'Total_Revenue', 'EU_Sales': 'Mean'}, axis=1)

                       Total_Revenue      Mean
Genre        Platform
Action       PS3              307.88  0.291105
             PS4               87.06  0.313033
             X360             242.67  0.237068
             XOne              33.79  0.168676
Adventure    PS3               22.90  0.109865
             PS4                4.70  0.115263
             X360              15.23  0.103404
             XOne               2.51  0.090000
Fighting     PS3               51.70  0.193289
             PS4                8.04  0.160588
             X360              37.64  0.137231
             XOne               2.31  0.074286
Misc         PS3               47.85  0.136452
             PS4                7.40  0.202000
             X360              91.96  0.163016
             XOne               6.86  0.121333
Platform     PS3               30.33  0.307568
             PS4                7.01  0.301818
             X360              11.39  0.174583
             XOne               0.81  0.072500
Puzzle       PS3                0.60  0.016667
             PS4                0.02  0.020000
             X360               0.85  0.005714
Racing       PS3               73.95  0.368043
             PS4               11.53  0.418824
             X360              65.99  0.246667
             XOne               8.80  0.218947
Role-Playing PS3               75.30  0.166303
             PS4               25.77  0.224468
             X360              71.98  0.244211
             XOne               9.48  0.235385
Shooter      PS3              196.04  0.481667
             PS4               75.32  0.975000
             X360             278.55  0.377291
             XOne              51.61  0.462727
Simulation   PS3               10.79  0.121935
             PS4                0.77  0.074000
             X360              14.45  0.100750
             XOne               0.54  0.070000
Sports       PS3              135.56  0.225446
             PS4               50.07  0.532093
             X360             139.12  0.170455
             XOne              23.97  0.213056
Strategy     PS3                4.94  0.055417
             PS4                0.41  0.030000
             X360              10.13  0.094286
             XOne               0.38  0.033333

In [ ]:
games.groupby(['Genre', 'Platform']).agg({'Global_Sales': ['sum', 'mean', 'std']})\
     .rename({'sum': 'Total_Revenue', 'mean': 'Mean', 'std': 'Standard_Deviation'}, axis=1)\
     .sort_values(by=('Global_Sales' ,'Total_Revenue'), ascending=False)

                       Global_Sales
                      Total_Revenue      Mean Standard_Deviation
Genre        Platform
Action       PS3             307.88  0.810211           1.660116
Shooter      X360            278.55  1.372167           2.685196
Action       X360            242.67  0.748981           1.406772
Shooter      PS3             196.04  1.256667           2.308557
Sports       X360            139.12  0.632364           0.890439
             PS3             135.56  0.636432           0.999043
Misc         X360             91.96  0.729841           2.165301
Action       PS4              87.06  0.713607           1.452652
Shooter      PS4              75.32  2.215294           2.965431
Role-Playing PS3              75.30  0.632773           1.004425
Racing       PS3              73.95  0.803804           1.376301
Role-Playing X360             71.98  0.947105           1.533177
Racing       X360             65.99  0.628476           0.922865
Fighting     PS3              51.70  0.680263           0.738275
Shooter      XOne             51.61  1.563939           1.723269
Sports       PS4              50.07  1.164419           1.805890
Misc         PS3              47.85  0.385887           0.631139
Fighting     X360             37.64  0.579077           0.626066
Action       XOne             33.79  0.496912           0.823085
Platform     PS3              30.33  0.819730           1.136235
Role-Playing PS4              25.77  0.548298           1.180133
Sports       XOne             23.97  0.665833           0.819067
Adventure    PS3              22.90  0.309459           0.780451
             X360             15.23  0.324043           0.887242
Simulation   X360             14.45  0.361250           0.487575
Racing       PS4              11.53  0.678235           0.804528
Platform     X360             11.39  0.474583           0.441253
Simulation   PS3              10.79  0.348065           0.444593
Strategy     X360             10.13  0.361786           0.498078
Role-Playing XOne              9.48  0.729231           1.099822
Racing       XOne              8.80  0.463158           0.634053
Fighting     PS4               8.04  0.472941           0.683152
Misc         PS4               7.40  0.493333           1.005575
Platform     PS4               7.01  0.637273           0.671671
Misc         XOne              6.86  0.457333           0.574076
Strategy     PS3               4.94  0.205833           0.223994
Adventure    PS4               4.70  0.247368           0.378694
             XOne              2.51  0.209167           0.372741
Fighting     XOne              2.31  0.330000           0.462313
Puzzle       X360              0.85  0.121429           0.095643
Platform     XOne              0.81  0.202500           0.153052
Simulation   PS4               0.77  0.154000           0.160094
Puzzle       PS3               0.60  0.200000           0.196977
Simulation   XOne              0.54  0.180000           0.165227
Strategy     PS4               0.41  0.082000           0.067231
             XOne              0.38  0.126667           0.094516
Puzzle       PS4               0.02  0.020000                NaN

### Lecture - 210 - Filter Method

In [ ]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [ ]:
games.groupby(['Genre', 'Publisher']).filter(games.NA_Sales.sum())

TypeError: 'numpy.float64' object is not callable

In [ ]:
games.NA_Sales.sum()

True

In [52]:
games[games.NA_Sales>9]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64

## Doubt

In [53]:
games.groupby(['Publisher', 'Genre']).filter(lambda sg: sg['NA_Sales'].sum()>50) ## doubt

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
5,Call of Duty: Black Ops 3,PS4,1970-01-01,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
6,Call of Duty: Black Ops II,PS3,1970-01-01,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
7,Call of Duty: Black Ops II,X360,1970-01-01,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
...,...,...,...,...,...,...,...,...,...,...
2908,Cabela's Big Game Hunter: Pro Hunts,X360,1970-01-01,Shooter,Activision,0.02,0.00,0.00,0.00,0.03
3012,Call of Duty: Modern Warfare Trilogy,PS3,1970-01-01,Shooter,Activision,0.00,0.01,0.00,0.00,0.02
3033,NHL 16,X360,1970-01-01,Sports,Electronic Arts,0.00,0.02,0.00,0.00,0.02
3035,Call of Duty: Modern Warfare Trilogy,X360,1970-01-01,Shooter,Activision,0.01,0.01,0.00,0.00,0.02
3078,Madden NFL 13,PS3,1970-01-01,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01

In [ ]:
games.groupby(['Genre', 'Publisher']).agg({'NA_Sales': 'sum'})

                               NA_Sales
Genre    Publisher
Action   505 Games                 0.84
         Abylight                  0.07
         Ackkstudios               0.00
         Acquire                   0.08
         Activision               24.14
...                                 ...
Strategy Square Enix               0.23
         Takara Tomy               0.08
         Take-Two Interactive      1.69
         Tecmo Koei                0.03
         Ubisoft                   1.20

[422 rows x 1 columns]

In [ ]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

### Lecture - 211 - GroupBy Transformation

In [ ]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [ ]:
games_relative = games.loc[:, ['Name','Platform', 'Genre', 'Global_Sales', 'NA_Sales']]

In [ ]:
games_relative.set_index(['Name', 'Platform']).groupby('Genre').transform(lambda x : (x-x.mean())/x.std())\
              .sort_values(by='Global_Sales', ascending=False)

,,Global_Sales,NA_Sales
Name,Platform,,
Grand Theft Auto V,PS3,13.831175,9.558020
Kinect Adventures!,X360,13.814162,14.280179
Grand Theft Auto V,X360,10.468663,13.317324
Gran Turismo 5,PS3,9.159261,6.179307
Grand Theft Auto V,PS4,7.521441,4.952155
...,...,...,...
Dragon Ball Z for Kinect,X360,-0.872762,-0.754265
Nitroplus Blasterz: Heroines Infinite Duel,PS3,-0.872762,-0.778337
Battle Fantasia,PS3,-0.872762,-0.778337
"Sakigake!! Otokojuku - Nihon yo, Kore ga Otoko Dearu!",PS3,-0.872762,-0.778337
The Talos Principle,PS4,-0.899346,-1.214420

In [ ]:
games_relative.NA_Sales.mean()

0.3733057588291348

In [ ]:
games_relative.Global_Sales.min()

0.01

### Lecture - 212 - Bonus - Groupby with Apply

In [ ]:
def sales_detail(sg):
    level = 'Solid' if sg.EU_Sales.sum()>50 else 'weak'
    variablility = 'volatile' if sg.EU_Sales.std()/sg.EU_Sales.mean()>2 else 'steady'
    return (variablility, level + ' sales')

In [ ]:
PS3 = games.loc[:, ['Name', 'Platform','Genre','EU_Sales']]
PS3

                                Name Platform         Genre  EU_Sales
0                 Kinect Adventures!     X360          Misc      4.94
1                 Grand Theft Auto V      PS3        Action      9.27
2                 Grand Theft Auto V     X360        Action      5.31
3     Call of Duty: Modern Warfare 3     X360       Shooter      4.28
4            Call of Duty: Black Ops     X360       Shooter      3.73
...                              ...      ...           ...       ...
3138                  Bound By Flame     X360  Role-Playing      0.01
3139                    Mighty No. 9     XOne      Platform      0.00
3140              Resident Evil 4 HD     XOne       Shooter      0.00
3141   Farming 2017 - The Simulation      PS4    Simulation      0.01
3142               Rugby Challenge 3     XOne        Sports      0.01

[3143 rows x 4 columns]

In [ ]:
PS3.groupby('Genre').apply(sales_detail)

Genre
Action          (volatile, Solid sales)
Adventure        (volatile, weak sales)
Fighting           (steady, weak sales)
Misc             (volatile, weak sales)
Platform           (steady, weak sales)
Puzzle             (steady, weak sales)
Racing            (steady, Solid sales)
Role-Playing    (volatile, Solid sales)
Shooter           (steady, Solid sales)
Simulation         (steady, weak sales)
Sports          (volatile, Solid sales)
Strategy           (steady, weak sales)
dtype: object

In [ ]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,1970-01-01,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,1970-01-01,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,1970-01-01,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,1970-01-01,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,1970-01-01,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,1970-01-01,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,1970-01-01,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,1970-01-01,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,1970-01-01,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,1970-01-01,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [2]:
## IPL Data Practice
import pandas as pd

# Create a sample DataFrame
data = {
    'Year': [2020, 2020, 2021, 2021, 2022, 2022],
    'toss_decision': ['bat', 'field', 'bat', 'field', 'bat', 'field'],
    'match_result': ['win', 'lose', 'win', 'win', 'lose', 'lose']
}

match_data = pd.DataFrame(data)

# Grouping the DataFrame by 'Year' and 'toss_decision' and counting the occurrences
df = match_data.groupby(['Year', 'toss_decision']).size()

# Display the result
print(df)

Year  toss_decision
2020  bat              1
      field            1
2021  bat              1
      field            1
2022  bat              1
      field            1
dtype: int64

In [3]:
df.reset_index()

   Year toss_decision  0
0  2020           bat  1
1  2020         field  1
2  2021           bat  1
3  2021         field  1
4  2022           bat  1
5  2022         field  1